<!-- Header/Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">PixovaXR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <!-- Projects 下拉選單 - Split Button 方式 -->
        <li class="nav-item dropdown">
          <div class="btn-group" role="group">
            <a class="nav-link" href="projects.html">Projects</a>
            <button class="nav-link dropdown-toggle dropdown-toggle-split border-0 bg-transparent" 
                    type="button" 
                    id="projectsDropdown" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
              <li><a class="dropdown-item" href="bim-supervision-ar.html">BIM Supervision AR System</a></li>
              <li><a class="dropdown-item" href="environmental-education-vr360.html">Environmental Education VR360</a></li>
              <li><a class="dropdown-item" href="educational-vr-games.html">Educational VR Games</a></li>
              <li><a class="dropdown-item" href="entertainment-vr-games.html">Entertainment VR Games</a></li>
              <li><a class="dropdown-item" href="vr-showroom.html">VR Showroom</a></li>
              <li><a class="dropdown-item" href="ar-tour-guide.html">AR Tour Guide</a></li>
              <li><a class="dropdown-item" href="online-exhibition.html">Online Exhibition</a></li>
              <li><a class="dropdown-item" href="data-visualization-war-situation.html">Data Visualization System</a></li>
              <li><a class="dropdown-item" href="vr-architecture-competition.html">VR Architecture Competition</a></li>
            </ul>
          </div>
        </li>
        
        <!-- Services 下拉選單 -->
        <li class="nav-item dropdown">
          <div class="btn-group" role="group">
            <a class="nav-link" href="services.html">Services</a>
            <button class="nav-link dropdown-toggle dropdown-toggle-split border-0 bg-transparent" 
                    type="button" 
                    id="servicesDropdown" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="ar-marketing.html">AR Marketing</a></li>
              <li><a class="dropdown-item" href="vr-metaverse-training.html">VR Metaverse Training</a></li>
              <li><a class="dropdown-item" href="web-showroom.html">Web Showroom</a></li>
              <li><a class="dropdown-item" href="xr-visualization.html">XR Visualization & Digitization</a></li>
              <li><a class="dropdown-item" href="technology-art.html">Technology Art</a></li>
              <li><a class="dropdown-item" href="vr-game-design.html">VR Game Design</a></li>
            </ul>
          </div>
        </li>
        
        <!-- About Us 下拉選單 -->
        <li class="nav-item dropdown">
          <div class="btn-group" role="group">
            <a class="nav-link" href="about.html">About Us</a>
            <button class="nav-link dropdown-toggle dropdown-toggle-split border-0 bg-transparent" 
                    type="button" 
                    id="aboutDropdown" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="background.html">Background</a></li>
              <li><a class="dropdown-item" href="vision-mission.html">Vision & Mission</a></li>
            </ul>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="technologies.html">Technologies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a></li>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  

<!-- 引用 JavaScript 檔案 -->
<script src="js/navbar.js"></script>